.center {
    text-align: center;
}

h1 {
    font-size: 400%;
}

img {
    display: block;
    margin: auto;
    width: 30%;
}

button {
    display: block; 
    margin: auto;
    margin-top: 10%;
    padding: 2% 8%;
}