* {
    margin: 0;
    padding: 0;
}

html, body, main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

header {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px; 
    margin-bottom: 1%;
    height: 130px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
    line-height: 60px;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 50px;
}

#source {
    display: flex;
    height: 62%;
    width: 100%;
}

#destination {
    width: 28%;
    height: 100%;
    float: right;
}

.select_field {
    width: 32%;
    height: 100%;
    text-align: center;
}

#select_playlists {
    float: left;
    margin-left:auto;
}

#transfer_buttons {
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
    height: 90%;
    text-align: center;
}

#playlist_selections {
    float: right;
    margin-right: auto;
}

#merge {
    width: 100%;
    height: 40%;
    text-align: center;
}

.center {
    text-align: center;
}

.select {
    margin: auto;
    margin-top: 5%;
    width: 100%;
    height: 80%;
    background-color: gray;
    font-size: 200%;
}

.transfer {
    width: 65%;
    height: 23%;
    margin-bottom: 10%;
}

#right {
    margin-top: 40%;
}

#confirm {
    margin-top: 1%;
    width: 25%;
    height: 10%;
}

#instructions {
    display: inline-block;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

#destination_playlists {
    margin: 0 auto;
    float: left;
}

.label {
    text-align: center;
    font-size: 240%;
}

.error {
    color: red;
    margin-top: 3%;
    text-align: center;
}

#destination_selection {
    display: block;
    margin: 0 auto;
    margin-top: 1%;
    font-size: larger;
}

.loading {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background: #fff;
}
.loader {
    left: 50%;
    margin-left: -4em;
    font-size: 10px;
    border: .8em solid rgba(218, 219, 223, 1);
    border-left: .8em solid rgba(58, 166, 165, 1);
    animation: spin 1.1s infinite linear;
}
.loader, .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.modal {
    display: flex;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25%;
    top: 25%;
    width: 50%; /* Full width */
    height: 30%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border: 6px solid black;
    overflow: hidden;
  }
  
/* Modal Content */
.modal-content {
background-color: teal;
margin: auto;
padding: 20px;
width: 100%;
height: 100%;
text-align: center;
}

.modal_message {
    font-size: 30px;
}

#closemodal {
    position: relative;
    margin: auto;
    top: 50%;
    width: 20%;
    height: 10%;
}
